<div class="search-result-container">
  <a id="search-result-link" href="<%= url %>" target="_blank"><%= title %></a><br>
  <span class="search-result-url">(via <%= url %>)</span>

  <p id="search-result-description"><%= description %></p>

  <a id="search-result-tweet-to" href="https://twitter.com/share?url=<%=url%>&text=Check this out! <%=handle%>" data-url="<%=url%>" class="twitter-share-button" onClick='showPopup(this.href);return(false);'><img src="http://i.imgur.com/mOKt12S.png" height="25px"></a>

  <br>to <%=handle%>
</div>
