<li class="search-result">
    <div class="result-content">

      <p>
        <a href="<%= url %>"><%= title %></a> | <%= keywords %>
        <br>
        <span class="description"><%= description %></span>
      </p>
      <ul class="result-keywords">
          <% for (var i=0; i< keywords.length; i++) { %>
            <li><input class="keyword" type="submit" value="<%=keywords[i]%>"></li>
        <% } %>
      </ul>
    </div>
  </li>
