<div class="search-result-container">
  <a id="search-result-link" href="<%= url %>" target="_blank"><%= title %></a>

  <p id="search-result-description"><%= description %></p>

  <a id="search-result-tweet-to" href="https://twitter.com/share?url=<%=url%>&text=Check this out! <%=handle%>" data-url="<%=url%>" class="twitter-share-button" target="_blank">TWEET THIS TO <%=handle%></a>
</div>
