<% if (links.length > 0){ %>
  <li class="tweet">
    <div class="tweet-content">
      <p>
        <%= embedded_tweet %><br>

        <a href="<%= links[0].url %>" class="test"><%= links[0].title %></a>
      </p>
      <ul class="result-keywords">
          <% for (var i=0; i< text_keywords.length; i++) { %>
            <li><input class="keyword" type="submit" value="<%=text_keywords[i]%>"></li>
        <% } %>
      </ul>
       <ul class="tweet-keywords">
          <% for (var i=0; i< title_keywords.length; i++) { %>
            <li><input class="keyword" type="submit" value="<%=title_keywords[i]%>"></li>
        <% } %>
      </ul>
    </div>
  </li>
<% } %>
