<% if (urls.length > 0){ %>
  <li class="tweet">
    <img class="profile-pic" src="<%= user_profile_image_url %>" alt="">
    <div class="tweet-content">
      <p>
        <h1><span class="test"><%= text %></span>
        <br>
        <a href="<%= link_titles[0].url %>" class="test"><%= link_titles[0].title %></a>
        <%= console.log(link_titles[0]) %></h1>
      </p>
      <ul class="result-keywords">
          <% for (var i=0; i< keywords.length; i++) { %>
            <li><input class="keyword" type="submit" value="<%=keywords[i]%>"></li>
        <% } %>
      </ul>
       <ul class="tweet-keywords">
          <% for (var i=0; i< title_keywords.length; i++) { %>
            <li><input class="keyword" type="submit" value="<%=title_keywords[i]%>"></li>
        <% } %>
      </ul>
    </div>
  </li>
<% } %>
