<% if (urls.length > 0){ %>
  <li class="tweet">
    <img class="profile-pic" src="<%= user_profile_image_url %>" alt="">
    <div class="tweet-content">
      <p>
        <span class="test"><%= text %></span>
        <br>
        <a href="<%= link_titles[0].url %>" class="test"><%= link_titles[0].title %></a>
        <%= console.log(link_titles[0]) %>
      </p>
    </div>
  </li>
<% } %>
