<div class="profile">
  <img class="profile-circles" src="<%= profile_image %>"/>
    <ul>
      <li><%= name %></li>
      <li><a href="http://twitter.com/<%= handle %>" target="_blank">@<%= handle %></a></li>
      <li>(<%= description %>)</li>
    </ul>
  </div>


