<ul>
  <li><%= name %></li>
  <li><a href="http://twitter.com/<%= handle %>" target="_blank">@<%= handle %></a></li>
  <li>(<%= bio %>)</li>
</ul>
<img class="profile-circles" src="<%= profile_image %>"/>

