<!DOCTYPE html>
<html>
  <head>
    <title>Cheep Cheep</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
<script type="text/javascript">
function showPopup(url) {
newwindow=window.open(url,'name','height=490,width=520,top=200,left=300,resizable');
if (window.focus) {newwindow.focus()}
}
</script>
  </head>
  <body>

    <nav>
      <div id="search-container">
        <%= form_tag do %>
          <input id="search-bar" name="search-bar" type="text" placeholder="@username">
        <% end %>
      </div>

      <h2 id="nav-brumbiki">brumbiki</h2>

      <% if current_user %>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/auth/twitter">Login With Twitter</a>
      <% end %>
    </nav>

    <%= yield %>
  </body>
</html>
