<!DOCTYPE html>
<html>
  <head>
    <title>Cheep Cheep</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script type="text/javascript" src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<script type="text/javascript" src="http://www.pureexample.com/js/lib/jquery.ui.touch-punch.min.js"></script>
  </head>
  <body>

    <nav>
      <% if current_user %>
      <span class="navbar-text navbar-right">Signed in as <%=current_user.name %></span>
        <a href="/logout">Logout</a>
      <% else %>
        <a href="/auth/twitter">Login with Twitter</a>
      <% end %>

      <div id="search-container">
        <%= form_tag do %>
          <input id="search-bar" name="search-bar" type="text" placeholder="@username">
          <input id="search-button" type="submit" value="Go!">
        <% end %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
